*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/natural-pattern.png);
  height: 100%;
}
.page {
  background-color: brown;
  width: 60%;
  margin: auto;
}
.header {
  background-color: red;
  width: 100%;
}

.header-top {
  position: relative;
  height: 400px;
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid white;
}

.container-logo {
  position: absolute;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-logo img {
  height: 200px;
  width: 100%;
}

.container-logo h1 {
  font-size: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.header-bottom {
  background-color: grey;
  height: 40px;
  line-height: 40px;
}
.header-bottom nav ul {
  list-style: none;
  text-align: center;
}

.header-bottom nav ul li {
  display: inline-block;
}

.header-bottom nav ul li a {
  display: inline-block;
  padding: 0 5px;
  background-color: darkgrey;
  float: right;
}

.main {
  width: 100%;
  background-color: yellow;
  margin-bottom: 24px;
}
.footer {
  width: 100%;
  height: 150px;
  background-color: blue;
  margin-bottom: 24px;
}
.col-left {
  background-color: orange;
  width: 25%;
  margin: 1% 1%;
}
.col-center {
  background-color: brown;
  width: 40%;
  margin: 1% 3%;
}
.col-right {
  background-color: white;
  width: 25%;
  margin: 1% 1%;
}
.main:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
}
.widget {
  margin: 20px 0;
}
