*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/natural-pattern.png);
  height: 100%;
  margin: 20px;
}
.page {
  width: 60%;
  margin: auto;
}
.header {
  width: 100%;
}
.header-top {
  position: relative;
  height: 400px;
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid white;
}
.container-logo {
  position: absolute;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-logo img {
  height: 200px;
  width: 100%;
}

.container-logo h1 {
  font-size: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.header-bottom {
  background-color: #302b2b;
  height: 40px;
  line-height: 40px;
}
.header-bottom nav ul {
  list-style: none;
  text-align: center;
}
.header-bottom nav ul li {
  display: inline-block;
}
.header-bottom nav ul li a {
  color: #7b7676;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid black;
}
.header-bottom nav ul li a:hover {
  color: #d1cfcf;
  background-color: #654321;
}
.main {
  width: 100%;
  margin-bottom: 24px;
}
.menu{
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
}
.menu li a {
text-decoration: none;
color: green;
}
.menu li a:hover {
  text-decoration: underline;
}
.col-left {
  background-color: white;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
  margin: 1% 1%;
}
.col-left-header:after {
  content: '';
  display: table;
  clear: both;
}
.col-left-header:after i,
.col-left-header:after h3 {
  float: left;
}

.col-left-header h3 {
  width: 60%;
  color: #302b2b;
}
.col-left-header {
  margin-bottom: 10px;
}
.col-center {
  background-color: white;
  width: 40%;
  margin: 1% 3%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
h2 {
  font-size: 30px;
  color: #302b2b;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.col-right {
  width: 25%;
  margin: 0% 1%;
}
.col-right .widget {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
h4 {
  font-size: 30px;
  color: #302b2b;
  margin-bottom: 10px;
}
h5 {
  color: #302b2b;
  font-size: 25px;
  margin-bottom: 10px;
}
h6 {
  color: #302b2b;
  font-size: 25px;
  margin-bottom: 10px;
}
.main:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
}
.widget {
  margin: 20px 0;
}
.footer {
  width: 100%;
  height: 150px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  }
footer .footer-top {
  padding: 2px;
  text-align: center;
  border-bottom: 1px inset grey;
}
footer .footer-bottom:after {
  content: '';
  display: table;
  clear: both;
}
footer .footer-bottom .footer-col{
  float: left;
  width: calc(100% / 3);
  padding: 20px;
  text-align: center;
  font-size: 30;
}
footer .footer-bottom .footer-col a {
  color: lightgrey;
}

footer .footer-bottom .footer-col a:hover {
  color:grey;
}
